@import 'settings/variables';
@import 'settings/roboto';
@import 'settings/global';

// @import 'settings/mixins/mixins';

$skylight: rgb(68, 165, 243);
$skydark: rgb(25, 119, 209);
$white: rgb(238, 238, 239);

$a-duration: 2.3s;
